<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<add name="AplicacionAsma"
			 connectionString="Data Source=(local);Initial Catalog=AplicacionAsma; User id=sa; Password=fnsp; Connection timeout=300;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient"
		 
	/>
	</connectionStrings>
	
</configuration>